@font-face {
	font-family: "avantGardeMedium";
	src: url("./fonts/avant-garde-medium.eot?#iefix");
    src: url("./fonts/avant-garde-medium.eot?#iefix") format("eot"),
         url("./fonts/avant-garde-medium.woff2") format("woff2"),
         url("./fonts/avant-garde-medium.woff") format("woff"),
         url("./fonts/avant-garde-medium.ttf") format("truetype"),
         url("./fonts/avant-garde-medium.svg#avant-garde-medium") format("svg");
}