@font-face {
	font-family: "avantGardeBook";
	src: url("./fonts/avant-garde-book.eot?#iefix");
    src: url("./fonts/avant-garde-book.eot?#iefix") format("eot"),
         url("./fonts/avant-garde-book.woff2") format("woff2"),
         url("./fonts/avant-garde-book.woff") format("woff"),
         url("./fonts/avant-garde-book.ttf") format("truetype"),
         url("./fonts/avant-garde-book.svg#avant-garde-book") format("svg");
}