@font-face {
	font-family: "avantGardeBookCondensed-obliqueOblique";
	src: url("./fonts/avant-garde-book-condensed-oblique.eot?#iefix");
    src: url("./fonts/avant-garde-book-condensed-oblique.eot?#iefix") format("eot"),
         url("./fonts/avant-garde-book-condensed-oblique.woff2") format("woff2"),
         url("./fonts/avant-garde-book-condensed-oblique.woff") format("woff"),
         url("./fonts/avant-garde-book-condensed-oblique.ttf") format("truetype"),
         url("./fonts/avant-garde-book-condensed-oblique.svg#avant-garde-book-condensed-oblique") format("svg");
}