@font-face {
	font-family: "avantGardeBold";
	src: url("./fonts/avant-garde-bold.eot?#iefix");
    src: url("./fonts/avant-garde-bold.eot?#iefix") format("eot"),
         url("./fonts/avant-garde-bold.woff2") format("woff2"),
         url("./fonts/avant-garde-bold.woff") format("woff"),
         url("./fonts/avant-garde-bold.ttf") format("truetype"),
         url("./fonts/avant-garde-bold.svg#avant-garde-bold") format("svg");
}