@font-face {
	font-family: "avantGardeBookCondensed";
	src: url("./fonts/avant-garde-book-condensed.eot?#iefix");
    src: url("./fonts/avant-garde-book-condensed.eot?#iefix") format("eot"),
         url("./fonts/avant-garde-book-condensed.woff2") format("woff2"),
         url("./fonts/avant-garde-book-condensed.woff") format("woff"),
         url("./fonts/avant-garde-book-condensed.ttf") format("truetype"),
         url("./fonts/avant-garde-book-condensed.svg#avant-garde-book-condensed") format("svg");
}