/* 
COLORS
*/
  $main-color: #b3b3b3;

  $black: #131313;
  $blue: #141d9b;
  $brown: #3c2216;
  $green: #32d40c;
  $red: #d30c11;
  $yellow: #ffa800;

  $light-blue: #a9bee4;
  $light-grey: #949191;
  $light-red: #f89fa2;

  $dark-grey: #2d2d2d;

  $white-05: rgba(255,255,255,.05);

  $yellow-15: rgba(255,168,0,.15);

  $black-50: rgba(19,19,19,.5);
  $blue-50: rgba(20,30,155,.5);
  $yellow-50: rgba(255,168,0,.5);

  $black-90: rgba(19,19,19,9);