@font-face{
    font-family: "avantGardeDemiBold";
    src: url("./fonts/avant-garde-demi-bold.eot?#iefix");
    src: url("./fonts/avant-garde-demi-bold.eot?#iefix") format("eot"),
         url("./fonts/avant-garde-demi-bold.woff2") format("woff2"),
         url("./fonts/avant-garde-demi-bold.woff") format("woff"),
         url("./fonts/avant-garde-demi-bold.ttf") format("truetype"),
         url("./fonts/avant-garde-demi-bold.svg#avant-garde-demi-bold") format("svg");
}