<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for(var i=0; i < htmlWebpackPlugin.options.files.css.length; i++) {%>
    <link href="<%= htmlWebpackPlugin.options.files.css[i] %>" rel="stylesheet">
    <% } %>
    <% for(var i=0; i < htmlWebpackPlugin.options.files.js.length; i++) {%>
    <script src="<%= htmlWebpackPlugin.options.files.js[i] %>" type="text/javascript"></script>
    <% } %>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="createCharacterApp"></div>
  </body>
</html>
